{% extends 'templates/app.twig'%}

{% block extralinks %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" type="text/css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
            selector: '#description',
            plugins: "code,image",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | image | bullist numlist outdent indent | code",
            menubar: "file edit view format insert tools",
        });</script>
    <link rel="stylesheet" href="{{ base_url() }}/css/series.create.css">
    <script src="{{ base_url() }}/js/series.create.js"></script>
{% endblock %}
{% block content %}
    <div class="raw">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add new Series</div>
                <div class="panel-body">
                    <form action="{{ path_for('series.create') }}" method="post" autocomplete="off" enctype="multipart/form-data">
                        <div class="form-group{{ errors.name ? ' has-error' : '' }}">
                            <label for="name">name </label>
                            <input type="text" name="name" id="name" placeholder="Your series name" class="form-control" value="{{ old.name  }}">
                            {% if errors.name  %}
                                <span class="help-block">{{ errors.name | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.description ? ' has-error' : '' }}">
                            <label for="description">Your series description</label>
                            <textarea class="form-control" id="description" name="description">Here you can write your description</textarea>
                            {% if errors.description %}
                                <span class="help-block">{{ errors.description | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.trailer ? ' has-error' : '' }}">
                            <label for="actor">Trailer</label>
                            <input type="text" name="trailer" id="trailer" placeholder="Trailer Url" class="form-control" value="{{ old.trailer }}">
                            {% if errors.trailer %}
                                <span class="help-block">{{ errors.trailer | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.actor ? ' has-error' : '' }}">
                            <label for="actor">Actors</label>
                            <input type="text" name="actor" id="actor" placeholder="actor1,actor2,actor3..." class="form-control" value="{{ old.actor }}">
                            {% if errors.actor %}
                                <span class="help-block">{{ errors.actor | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.tag ? ' has-error' : '' }}">
                            <label for="tag">Tags</label>
                            <input type="text" name="tag" id="tag" placeholder="tag1,tag2,tag3..." class="form-control" value="{{ old.tag }}">
                            {% if errors.tag %}
                                <span class="help-block">{{ errors.tag | first }}</span>
                            {% endif %}
                        </div>
                        <label for="release_day">Release day</label>
                        <div class="input-group date">
                            <input type="text" id="release_day" name="release_day" class="form-control" value="12-02-2016">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>

                        <label for="filename">Upload a file</label>
                                    <div class="input-group image-preview">

                                        <input type="text" name="filename" id="filename" class="form-control image-preview-filename" disabled="disabled">
                                        <span class="input-group-btn">
                                           <!-- image-preview-clear button -->
                                           <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                                           <span class="glyphicon glyphicon-remove"></span> Clear
                                           </button>
                                                                        <!-- image-preview-input -->
                                           <div class="btn btn-default image-preview-input">
                                              <span class="glyphicon glyphicon-folder-open"></span>
                                              <span class="image-preview-input-title">Browse</span>
                                              <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/>
                                           </div>
                                        </span>
                                    </div>
                        <button type="submit" class="btn btn-default">Save your Series</button>

                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#release_day').datepicker();
    </script>
{% endblock %}