{% extends 'templates/app.twig'%}

{% block extralinks %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({
            selector: '#content',
            plugins: "code,image",
            toolbar: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | image | bullist numlist outdent indent | code",
            menubar: "file edit view format insert tools",
        });</script>
{% endblock %}
{% block content %}
    <div class="raw">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Add new Series</div>
                <div class="panel-body">
                    <form action="{{ path_for('series.create') }}" method="post" autocomplete="off">
                        <div class="form-group{{ errors.title ? ' has-error' : '' }}">
                            <label for="title">Title</label>
                            <input type="text" name="title" id="title" placeholder="Your series name" class="form-control" value="{{ old.title }}">
                            {% if errors.email %}
                                <span class="help-block">{{ errors.title | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.content ? ' has-error' : '' }}">
                            <label for="content">Your series description</label>
                            <textarea class="form-control" id="content" name="content">Here you can write your description</textarea>
                            {% if errors.content %}
                                <span class="help-block">{{ errors.content | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.actor ? ' has-error' : '' }}">
                            <label for="actor">Actors</label>
                            <input type="text" name="actor" id="actor" placeholder="actor1,actor2,actor3..." class="form-control" value="{{ old.actor }}">
                            {% if errors.actor %}
                                <span class="help-block">{{ errors.actor | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.releasedday ? ' has-error' : '' }}">
                            <label for="releasedday">Release day</label>
                            <input type="datetime" name="releasedday" id="releasedday"  class="form-control" value="{{ old.releasedday }}">
                            {% if errors.releasedday %}
                                <span class="help-block">{{ errors.releasedday | first }}</span>
                            {% endif %}
                        </div>
                        <div class="form-group{{ errors.tag ? ' has-error' : '' }}">
                            <label for="tag">Tags</label>
                            <input type="text" name="tag" id="tag" placeholder="tag1,tag2,tag3..." class="form-control" value="{{ old.tag }}">
                            {% if errors.tag %}
                                <span class="help-block">{{ errors.tag | first }}</span>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-default">Save your Series</button>

                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}